*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Nav Component Styles */
.nav_compo{
  width: 100%;
  padding: 20px 60px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 200px;
  box-shadow: 0 7px 100px rgba(0,0,0,0.25);
}

.nav_items{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_item{
  cursor: pointer;
}

.nav_item:hover{
  text-decoration: underline;
}

.block{
  border: 1px solid ;
  padding: 10px 20px;
  transition: .3s;
}

.block:hover{
  background-color: black;
  color: white;
}